/*  BACKGROUND DO VÍDEO  */
.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background: url('background.jpg') no-repeat center center/cover;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CONTEÚDO GERAL  */
.content {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 10;
    font-family: 'Pixelify Sans', 'Creepster', cursive;
}

/* MAIN BOX */
#main-box {
    width: 95%;
    max-width: 800px;
    min-height: 80vh;
    padding: 20px;
    background-color: rgba(28, 22, 33, 0.8);
    border: 3px solid rgb(76, 16, 16);
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(138, 20, 20, 0.5);
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* TELAS */
.tela-jogo-interna {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    box-sizing: border-box;
}

#tela-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  LOGO E FRASES */
.logo-frase-container {
    position: relative;
    display: inline-block; 
}


.logo img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
}


.frase-macabra {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;                
    font-size: clamp(1.2em, 3vw, 1.8em);
    color: #e30000;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    white-space: nowrap;
    text-align: center;
}

.subtitulo-macabro {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;                
    font-size: clamp(0.7em, 2vw, 1em);
    color: #b59a9a;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    text-align: center;
}

.explicacao-macabra {
    font-size: clamp(0.8em, 2.5vw, 1em);
    color: #d9d9d9;          
    text-shadow: 0 0 4px black; 
    margin-top: 10px;
    text-align: center;
}


#btn-comecar-img {
    width: clamp(180px, 40vw, 250px);
    height: 70px;
    background-image: url('STATIC/comecar.button.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s;
}

#btn-comecar-img:hover {
    transform: scale(1.05);
}


.btn-audio {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: rgba(28,22,33,0.7);
    color: white;
    border: 2px solid #e30000;
    border-radius: 5px;
    padding: 10px 12px;
    font-size: 1.2em;
    cursor: pointer;
}


.titulo-tela-secundaria {
    color: #e30000;
    font-size: clamp(1.6em, 5vw, 3em);
    margin: 20px 0 10px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    text-align: center !important;
    width: 100%;
    display: block;
    font-size: clamp(1.4em, 5vw, 3em);
    line-height: 1.2;
    margin: 20px auto 10px auto;
    padding: 0;
    white-space: normal !important;
}



.botoes-tema-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#btn-comecar-img {
    background-image: url('STATIC/comecar.button.png');
}

#btn-filmes {
    background-image: url('STATIC/FILMES.png');
}

#btn-medos {
    background-image: url('STATIC/MEDOS.png');
}

#btn-monstros {
    background-image: url('STATIC/MONSTROS.png');
}

#btn-torturas {
    background-image: url('STATIC/TORTURAS.png');
}

.btn-tema-img {
    width: clamp(220px, 60vw, 300px);
    height: clamp(60px, 12vw, 80px);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #1c1621;
    border: none;
    cursor: pointer;
    transition: transform .2s, opacity .2s;
}

.btn-tema-img:hover {
    transform: scale(1.05);
    opacity: .9;
}

.btn-voltar-img {
    display: inline-block;
    width: 150px;
    height: 40px;
    background-image: url('STATIC/VOLTAR.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform .2s;
}


.botoes-dificuldade-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#btn-facil {
    background-image: url('STATIC/FÁCIL.png');
}

#btn-medio {
    background-image: url('STATIC/MÉDIO.png');
}

#btn-dificil {
    background-image: url('STATIC/DIFICIL.png');
}

.btn-voltar-img:hover {
    transform: scale(1.05);
}

#btn-facil,
#btn-medio,
#btn-dificil {
    width: 300px;
    height: 80px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}


#btn-facil:hover,
#btn-medio:hover,
#btn-dificil:hover {
    transform: scale(1.05);
}

#tela-jogo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    padding: 10px;
}


#header-jogo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.9em, 3vw, 1.3em);
}

#header-jogo h3,
#header-jogo p {
    color: #e6e6e6;
    text-shadow: 0 0 4px black;
    font-weight: bold;
}

#imagem-forca {
    position: relative;
    width: clamp(200px, 45vw, 350px);
    height: auto;
    margin: 0 auto;
    display: block;
    opacity: 0.85;
    z-index: 1;
}


.display-palavra {
    font-size: clamp(1.8em, 4vw, 3em);
    letter-spacing: clamp(6px, 1.3vw, 15px);
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px #e30000;
    margin-bottom: 10px;
}

#display-palavra-container {
    position: relative;
    z-index: 5;         
    margin-top: -50px;  
}

.teclado-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding-bottom: 10px;
}

.btn-letra {
    width: clamp(30px, 9vw, 45px);
    height: clamp(30px, 9vw, 45px);
    font-size: clamp(0.7em, 2.5vw, 1.1em);
    background-color: #380000;
    color: white;
    border: 2px solid #e30000;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-letra:hover {
    background-color: #5d0000;
}

.btn-letra.usada {
    background-color: #1a1a1a;
    color: #777;
    border-color: #555;
    cursor: default;
    pointer-events: none;
}

.tela-resultado {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);

    z-index: 9999;
}

.resultado-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagem-resultado {
    width: auto;
    height: 80vh;  
    max-height: 800px;     
    display: block;
}

#palavra-final {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    color: #5d1313;
    font-size: clamp(1.2em, 3vw, 2em);
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
    text-align: center;
}

.btn-jogar-novamente-img {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translateX(-50%);

    width: clamp(220px, 40vw, 300px);
    height: clamp(60px, 10vw, 85px);

    background-image: url('STATIC/JOGARNOVAMENTE.png');
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;
    z-index: 10;
    transition: transform .2s;
}


.btn-jogar-novamente-img:hover {
    transform: translateX(-50%) scale(1.06);
}