.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100; 
    background: url('background.jpg') no-repeat center center/cover;
}
.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%; 
    left: 50%;
    
    transform: translate(-50%, -50%); 
}

.content {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    font-family:'Pixelify Sans', 'Creepster', cursive;
}


#main-box {
    width: 90%; 
    max-width: 800px; 
    height: 90%;
    max-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 22, 33, 0.8);
    border: 3px solid rgb(76, 16, 16);
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(138, 20, 20, 0.5);
    text-align: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 100px;
}

#tela-inicial, #tela-temas, #tela-dificuldade, #tela-jogo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    box-sizing: border-box;
}

.frase-macabra {
    font-family:'Pixelify Sans', 'Creepster', cursive;
    font-size: 1.8em;
    color: #e30000;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8); 
    line-height: 1.2;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}

.subtitulo-macabro {
    font-family:'Pixelify Sans', 'Creepster', cursive;
    font-size: 0.9em;
    color: #b59a9a;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    white-space: nowrap;
}

.logo-frase-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
}

#tela-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    max-width: 500px;
    height: auto;
}

#btn-comecar-img {
    width: 250px; 
    height: 70px; 
    background-image: url('STATIC/comecar.button.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s;
}

#btn-comecar-img:hover {
    transform: scale(1.05);
}

.btn-audio {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: rgba(28, 22, 33, 0.7);
    color: white;
    border: 2px solid #e30000;
    border-radius: 5px;
    padding: 10px 12px;
    font-size: 1.2em;
    cursor: pointer;
}

tela-jogo-interna {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.titulo-tela-secundaria {
    color: #e30000;
    font-size: 3em; 
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin-top: 60px;
    margin-bottom: 0;
}

.botoes-tema-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.btn-tema {
    display: inline-block; 
    width: 150px; 
    height: 40px; 
    background-image: url('STATIC/VOLTAR.png');
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none; 
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}

.btn-tema-img {
    width: 300px; 
    height: 80px; 
    padding: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1c1621;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}
.btn-tema-img:hover {
    transform: scale(1.05);
    opacity: 0.9;
    border-color: #ff3333;
}

#btn-filmes{
    background-image: url('STATIC/FILMES.png');
}

#btn-medos {
    background-image: url('STATIC/MEDOS.png');
}

#btn-monstros {
    background-image: url('STATIC/MONSTROS.png');
}

#btn-torturas {
    background-image: url('STATIC/TORTURAS.png');
}

.btn-tema:active {
    transform: translateY(5px);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5),
                0 0 0 0 #e30000;
}

.container-voltar {
    width: 100%;
    text-align: center;
}

.btn-voltar-img {
    display: inline-block; 
    width: 150px; 
    height: 40px; 
    background-image: url('STATIC/VOLTAR.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none; 
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}

.btn-voltar-img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.botoes-dificuldade-container {
    display: inline-block;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#btn-facil {
    background-image: url('STATIC/FÁCIL.png'); 
}

#btn-medio {
    background-image: url('STATIC/MÉDIO.png');
}

#btn-dificil {
    background-image: url('STATIC/DIFICIL.png');
}

.explicacao-macabra {
    font-family: 'Pixelify Sans', 'Creepster', cursive; 
    font-size: 0.9em;
    color: #b59a9a;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

#tela-jogo {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.jogo-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #e30000;
    font-size: 1.2em;
}

.jogo-header h3, .jogo-header p {
    margin: 5px 0;
}

.jogo-area-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.grafico-forca img {
    max-width: 180px;
    height: auto;
}

#header-jogo {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 10;
    margin-bottom: 20px;
}

#imagem-forca {
    max-height: 250px;
    max-width: 90%;
    object-fit: contain; 
    margin-top: -95px;
    margin-bottom: -10px; 
    width: auto; 
    height: auto; 
    display: block;
    z-index: 1;
}

#display-palavra-container {
    margin-top: 20px;
    z-index: 10;
}

.display-palavra {
    font-size: 3em;
    letter-spacing: 15px;
    font-family: 'Pixelify Sans';
    color: white;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #e30000;
}

.teclado-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
    padding-bottom: 10px;
}

.btn-letra {
    font-family: 'Pixelify Sans';
    width: 45px; 
    height: 45px;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #380000;
    color: white;
    border: 2px solid #e30000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.btn-letra:hover {
    background-color: #5d0000;
}

.btn-letra.usada {
    background-color: #1a1a1a;
    color: #777;
    border-color: #555;
    cursor: default;
    pointer-events: none;
}

.tela-resultado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 100;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4); 
    background-blend-mode: darken;
}

#imagem-resultado {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}

#palavra-final {
    font-size: 1.8em;
    color: white; 
    margin-bottom: 30px;
    text-shadow: 
        1px 1px 0px black,
        -1px -1px 0px black,
        0 0 10px rgba(255, 0, 0, 0.8),
        0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 101; 
    margin-top: -250x;
    margin-bottom: 20px;
}

#btn-jogar-novamente {
    width: 200px;
    height: 50px;
    background-image: url('STATIC/JOGARNOVAMENTE.png');
}

.btn-jogar-novamente-img {
    display: block;
    width: 250px; 
    height: 60px;
    background-image: url('STATIC/JOGARNOVAMENTE.png'); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 101;
    margin-top: 350px
}

.btn-jogar-novamente-img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}